
 <template>
  <div>
    <h1>Ajout Utilisateur</h1>
    <b-form @submit.prevent="onSubmit" @reset="onReset" style="width:800px; margin:auto;">
      <b-form-group id="exampleInputGroup1" label="Name:" label-for="exampleInput1">
        <b-form-input
          id="exampleInput1"
          type="Name"
          v-model="form.name"
          required
          placeholder="Your Name"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2" label="Forename:" label-for="exampleInput2">
        <b-form-input
          id="exampleInput2"
          type="text"
          v-model="form.forename"
          required
          placeholder="Your Forename"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup" label="City:" label-for="exampleInput3">
        <b-form-input
          id="exampleInput3"
          type="text"
          v-model.number="form.city"
          required
          placeholder="Your City"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup4" label="Zip_code:" label-for="exampleInput4">
        <b-form-input
          id="exampleInput4"
          type="number"
          v-model="form.zip_code"
          required
          placeholder="Enter Zip_code"
        ></b-form-input>
      </b-form-group>
      <b-form @submit.stop.prevent>
        <label for="text-password">Password</label>
        <b-input type="password" id="text-password" aria-describedby="password-help-block"></b-input>
        <b-form-text id="password-help-block">
          Your password must be 8-20 characters long, contain letters and numbers, and must not
          contain spaces, special characters, or emoji.
        </b-form-text>
      </b-form>
      <b-button type="submit" variant="primary">Add</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "AddOpt",
  data() {
    return {
      form: {
        name: "",
        forename: "",
        city: "",
        zipcode: "",
        password: ""
      }
    };
  },
  methods: {
    onSubmit() {
      this.$emit("AddOpt", Object.assign({}, this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */

      this.form.name = "";
      this.form.forename = "";
      this.form.city = "";
      this.form.zipcode = "";
      this.form.password = "";
      /* Trick to reset/clear native browser form validation state */
    }
  }
};
</script>
<style>
h4 {
  color: salmon;
}
</style> 