
<template>
  <div>
    <h2>liste des Utilisateurs</h2>
    <b-table :fields="fields" :items="operations">
      <!-- A virtual composite column -->
      <template slot="action" slot-scope="data">
        <a @click="onSubmit(data.item.id)">
          <i class="fas fa-trash-alt"></i>
        </a>
      </template>
    </b-table>
  </div>
</template>

<script>
//import Testy from '../test'

export default {
  name: "OptList",
  props: {
    operations: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      fields: [
        "id",
        { key: "name", label: "Your Name" },
        "forename",
        "city",
        "zip_code",
        "password",
        // A virtual column
        { key: "action", label: "Action" }
      ]
    };
  },
  methods: {
    onSubmit(id) {
      this.$emit("removeOpt", id);
    }
  }
};
</script>

<style>
h4 {
  color: salmon;
}
</style>