<template>
  <section>
    <img src="../assets/utilisateur.png" alt="utilisateur" id="icon" />
    <hr style="width:800px;" />
    <AddOpt class="maclass" @addOpt="ev => addOpt(ev)"></AddOpt>
    <OptList class="maclass" :operations="tabOpt" @removeOpt="removeOpt"></OptList>
  </section>
</template>

<script>
import OptList from "./ListOpt.vue";
import AddOpt from "./AddOpt.vue";
import Testy from "../test.js";

export default {
  name: "CompteUtilisateurs",
  components: {
    OptList,
    AddOpt
  },

  data: function() {
    return {
      tabOpt: [{ name: "", forename: "", city: "", zipcode: "", password: "" }]
      // monthOpt: [{ id: "", title: "", money: "" }],
      // account: [{ Operations: "", ES: "", Ratio: "" }]
    };
  },
  beforeCreate() {
    Testy.affOpt().then(response => {
      this.tabOpt = response.data;
    });
    Testy.getTotal();
  },
  methods: {
    addOpt(data) {
      //argument envoyé par l'event
      Testy.addOpt(
        data.name,
        data.forename,
        data.city,
        data.zip_code,
        data.password
      ).then(response => {
        this.tabOpt.push(response.data);
      });
    },
    removeOpt(id) {
      Testy.removeOpt(id).then(() => {
        this.tabOpt.forEach((el, index) => {
          if (el.id === id) {
            this.tabOpt.splice(index, 1);
          }
        });
      });
    }
  }
};
</script>

<style>
#icon {
  width: 400px;
  border-radius: 1cm;
}
.maclass {
  margin: 70px;
  padding: 2px;
  border-bottom: 5px solid;
}
</style>
