<template>
  <div id="app">
    <!-- <First></First> -->
    <!--<AddOpt></AddOpt>-->
    <Opt></Opt>
  </div>
</template>

<script>
// import First from './components/First.vue';

//import AddOpt from "./components/AddOpt.vue";
import Opt from "./components/mapage.vue";

export default {
  name: "app",
  components: {
    //AddOpt,
    Opt
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
